<div id="<%= dom_id transaction %>">
  <p>
    <strong>Account:</strong>
    <%= transaction.account_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= transaction.value %>
  </p>

</div>
